body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.pr-app-container {
    overflow: hidden;
}

.header-1 {
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.05rem;
    color: #01024E
}

.header-3 {
    font-size: 1.5rem;
    margin: 0;
    color: #ff6464;
    font-weight: 900;
    margin-bottom: 0.2rem;
}

.header-2 {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.header-4 {
    font-size: 1.1rem;
    margin: 0;
    color: #01024E;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.header-5 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: #ff6464;
    margin: 0.3rem 0rem;
}

.header-6 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0.3rem 0rem;
}

.header-7 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    color: #414141;
    margin: 0;
}

.header-4-subtext {
    font-size: 0.9rem;
    color: black;
    letter-spacing: 0.01rem;
    color: #414141;
}

.pr-mega-button {
    width: calc(100% - 2.4rem);
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: white;
    background-color: gray;
    cursor: pointer;
}

.pr-white-bg {
    color: black;
    border: 1px solid black;
    background-color: white;
}

.mrg-top-10 {
    margin-top: 0.5rem;
}

.pr-light-bg {
    background-color: #ccccccb3;
}

.pr-facebook-bg {
    background-color: #41598f;
}

.pr-google-bg {
    background-color: #d75c48;
}

.pr-pink-bg {
    background-color: #ff6464;
}

.pr-violet-bg {
    background-color: #7a5586;
}

.pr-header-text {
    margin: 0px;
    color: white;
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1.4;
}

.pr-faq-text {
    font-weight: bold;
    font-size: 0.8rem;
    color: #01024E;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3px;
}

.faq-link {
    color: #ff6464;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.pr-dark-card {
    padding: 0.8rem 1rem;
    background: #00000042;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3;
}

.pr-dark-card p {
    margin: 0;
}

.pr-warning {
    padding: 2rem 2rem;
    font-size: 0.8rem;
    background-color: #7a5586;
}

.pr-warning p {
    text-align: center;
    color: white;
    margin: 0px;
}

.pr-bg-input {
    width: calc(100% - 2.4rem);
    padding: 1.2rem;
    border: none;
    background-color: #eee;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.pr-bg-input::-webkit-input-placeholder { /* Edge */
    color: grey;
    font-weight: 300;
    font-size: 1rem;
}

.pr-bg-input:-ms-input-placeholder { /* Internet Explorer */
    color: grey;
    font-weight: 300;
    font-size: 1rem;
}

.pr-bg-input::placeholder {
    color: grey;
    font-weight: 300;
    font-size: 1rem;
}

.pr-bg-input:focus {
    border: 2px solid #01024E;
    columns: #010101;
}

.pr-infobox-container {
    padding: 2rem 1rem;
    background: #01024E;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.pr-grey-card {
    margin: -0.4rem;
    padding: 1rem 0.4rem;
    background-color: #ccccccd9;
}

/* footer */
.pr-footer {
    display: none;
}

/* notifications */
.pr-notifications-container {
    position: fixed;
    width: calc(100% - 2rem);
    top: 1rem;
    padding: 1rem;
    z-index: 100000;
}

.pr-notification {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    background: #808080;
    width: calc(100% - 2rem);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.notification-error {
    background: #e74c3c;
}

.notification-success {
    background: #2ecc71;
}

.notification-warning {
    background: #f39c12;
}

/* naviagation */
.pr-nav-logo {
    height: 3rem;
}

.pr-nav-menu-butt {
    position: absolute;
    right: 1.1rem;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
}

.pr-navigation-content {
    padding: 0.7rem 1rem;
    background: #01024E;
    text-align: center;
}

.pr-nav-menu-close-butt {

}

/* menu */
.pr-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #01024E;
    transition: 0.5s all;
    display: none;
}

.pr-menu-header {
    padding: 0.7rem 1rem;
    text-align: center;
}

.pr-menu-logo {
    height: 3rem;
}

.pr-nav-menu-close-butt {
    position: absolute;
    right: 1.1rem;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
}

.pr-menu-body {
    padding: 0rem 3rem;
}

.pr-menu-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white !important;
    padding: 1.4rem;
    font-size: 1.4rem;
    border-bottom: 2px solid #ff7474;
}

/* login page */
.pr-login-page-container {
    background: grey;
    min-height: calc(100vh - 6rem);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(../img/other/loginbackground.png) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pr-login-logo-container {
    text-align: center;
}

.pr-login-logo {
    height: 5rem;
}

/* reg page */
.pr-reg-content {
    padding: 2rem;
    min-height: calc(100vh - 13.7rem);
}

/* agree page */
.pr-agree-content {
    background: #7a5586;
    padding: 1rem;
    min-height: calc(100vh - 6.64rem);
    color: white;
    text-align: center;
    letter-spacing: 0.05rem;
    line-height: 1.2;
    font-size: 0.9rem;
    position: fixed;
    z-index: 100;
    top: 4.8rem;
}

.pr-agree-container {
    background: #7a5586;
    height: calc(100vh - 4.8rem);
    position: fixed;
    z-index: 100;
    top: 4.8rem;
    width: 100%;
}

/* kit page */
.pr-kit-content {
    padding: 1rem;
}

/* pay page */
.pr-pay-content {
    padding: 1rem;
}
.pr-cards {
    width: 100%;
}

/* search result page */
.pr-searched-image-container img {
    width: 100%;
}

.pr-search-container {
    padding-bottom: 3rem;
}

.pr-car-info-option {
    color: #01024e;
    font-size: 1rem;
    font-weight: 700;
}

.pr-car-info-value {
    color: #ff6464;
    font-size: 1rem;
    font-weight: 700;
}

.pr-car-info-additional-content {
    padding: 1rem;
    padding-top: 0rem;
}

.pr-car-info-content {
    padding: 1rem;
}

.pr-additional-info-row {
    border-bottom: 1px solid #dbdbdb;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.pr-info-bold-txt {
    font-size: 0.9rem;
    color: black;
    font-weight: 700;
}

.pr-info-light-txt {
    font-size: 0.9rem;
    color: black;
}

.pr-info-light-txt-bld {
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
}

.pr-info-pink-txt {
    font-size: 0.9rem;
    color: #ff6464;
    font-weight: 700;
    display: block;
    text-align: right;
}

/* damage */
.pr-damage-content {
    padding: 1rem;
}

.pr-search-pg-btn-container {
    margin-top: 1rem;
}

.galery-image-row img {
    height: 4.5rem;
}

.galery-image-row button {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: white;
    background-color: red;
    float: right;
    margin-top: 1.2rem;
}

.galery-image-row {
    background: #eee;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

/* search */
.pr-table-button {
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    color: white;
    background: #ff7474;
    cursor: pointer;
}

.pr-rsp-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
.pr-rsp-table th, td {
    text-align: left;
    padding: 8px;
}

.pr-rsp-table tr th {
    margin: 0;
    white-space: nowrap;
    padding: 0.8rem 0.5rem;
    font-size: 0.9rem;
    color: #01024E;
    font-weight: bold;
}

.pr-rsp-table tr td {
    font-size: 0.8rem;
    color: #414141;
}

.pr-rsp-table tr td:last-child {
    text-align: center;
}

.pr-rsp-table tr:nth-child(even){
    background-color: #f2f2f2
}

.pr-table-container {
    padding: 1rem;
}

/* media query more than 425px */
@media (min-width: 425px) {
    .pr-login-page-container {
        padding-left: 5rem;
        padding-right: 5rem;
        /*added for attached footer*/
        min-height: calc(100vh - 12.5rem);
    }
    .pr-login-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pr-footer {
        display: block;
        background: #01024E;
    }
    .pr-footer-content {
        padding: 1rem 5rem;
    }
    .footer-header {
        margin-top: 0px;
        color: white;
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;
    }
    .footer-header span {
        color: #ff6464;
    }
    .pr-footer-text {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 0.7rem;
        color: #808080d9;
        font-weight: bold;
    }

    .pr-navigation-content {
        padding: 1rem 5rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 5rem;
    }

    .pr-menu-header {
        padding: 1rem 5rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 5rem;
    }
    .pr-menu-body {
        padding: 0rem 6.5rem;
    }

    .pr-reg-content {
        padding: 1rem 5rem;
        min-height: calc(100vh - 14.3rem);
    }

    .pr-agree-content {
        padding: 2rem 5rem;
        min-height: calc(100vh - 13.7rem);
    }

    .pr-infobox-container {
        padding: 2rem 5rem;
    }

    .pr-kit-content {
        padding: 2rem 5rem;
    }
    .pr-kit-container {
        min-height: calc(100vh - 11.7rem);
    }

    .pr-pay-content {
        padding: 2rem 5rem;
    }
    .pr-pay-container {
        min-height: calc(100vh - 11.7rem);
    }

    .pr-search-container {
        min-height: calc(100vh - 11.7rem);
    }
    .pr-car-info-content {
        padding: 2rem 5rem;
    }
    .pr-car-info-additional-content {
        padding: 2rem 5rem;
        padding-top: 0rem;
    }

    .pr-damage-content {
        padding: 2rem 5rem;
    }

    .pr-notifications-container {
        padding-left: 5rem;
        padding-right: 5rem;
        width: calc(100% - 10rem);
    }

    .pr-table-container {
        padding: 2rem 2.5rem;
    }
    
}

/* media query more than 768px */
@media (min-width: 768px) {
    .pr-login-page-container {
        padding-left: 11rem;
        padding-right: 11rem;
    }
    .pr-login-content {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .pr-footer-content {
        padding: 1rem 6rem;
    }

    .pr-navigation-content {
        padding: 1rem 6rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 6rem;
    }

    .pr-menu-header {
        padding: 1rem 6rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 6rem;
    }
    .pr-menu-body {
        padding: 0rem 15rem;
    }

    .pr-reg-content {
        padding: 1rem 15rem;
        min-height: calc(100vh - 14.7rem);
    }

    .pr-agree-content {
        padding: 3rem 15rem;
    }

    .pr-infobox-container {
        padding: 2rem 6rem;
    }

    .pr-kit-content {
        padding: 3rem 15rem;
    }
    .pr-grey-card {
        margin-left: -1em;
        margin-right: -1rem;
        padding: 2rem 1rem;
    }

    .pr-pay-content {
        padding: 2rem 15rem;
    }

    .pr-car-info-content {
        padding: 2rem 13rem;
    }
    .pr-car-info-additional-content {
        padding: 2rem 13rem;
        padding-top: 0rem;
    }

    .pr-damage-content {
        padding: 3rem 13rem;
    }

    .pr-notifications-container {
        width: 25rem;
        margin-left: calc(50% - 18rem);
    }

    .pr-table-container {
        padding: 2rem 6rem;
    }
}

/* media query more than 768px */
@media (min-width: 900px) {
    .pr-login-page-container {
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .pr-login-content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .pr-footer-content {
        padding: 1rem 7rem;
    }

    .pr-navigation-content {
        padding: 1rem 7rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 7rem;
    }

    .pr-menu-header {
        padding: 1rem 7rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 7rem;
    }
    .pr-menu-body {
        padding: 0rem 20rem;
    }

    .pr-reg-content {
        padding: 1rem 20rem;
    }
    .pr-reg-content {
        padding-top: 3rem;
        min-height: calc(100vh - 15.2rem);
    }

    .pr-agree-content {
        padding: 4rem 20rem;
    }

    .pr-infobox-container {
        padding: 2rem 7rem;
    }

    .pr-kit-content {
        padding: 3rem 20rem;
    }

    .pr-pay-content {
        padding: 2rem 20rem;
    }

    .pr-car-info-content {
        padding: 2rem 9rem;
    }
    .pr-car-info-additional-content {
        padding: 2rem 9rem;
        padding-top: 0rem;
    }
    .pr-img-info-container {
        height: 12rem;
    }
    .pr-searched-image-container {
        float: right;
        width: 42%;
        height: 100%;
        text-align: right;
    }
    .pr-searched-image-container img {
        height: 100%;
        width: auto;
    }
    .pr-car-info-container {
        width: 55%;
        float: left;
    }
    .pr-car-info-grid-container {
        display: block;
    }
    .pr-car-info-grid-container {
        padding: 0rem 6rem;
    }
    .pr-search-pg-btn-container {
        margin-top: 1rem;
        display: inline-block;
        width: 49%;
    }

    .pr-damage-content {
        padding: 3rem 17rem;
    }

    .pr-table-container {
        padding: 2rem 7rem;
    }
}

/* media query more than 1024px */
@media (min-width: 1024px) {
    .pr-login-page-container {
        padding-left: 19rem;
        padding-right: 19rem;
    }
    .pr-login-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .pr-footer-content {
        padding: 1rem 8rem;
    }

    .pr-navigation-content {
        padding: 1rem 8rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 8rem;
    }

    .pr-menu-header {
        padding: 1rem 8rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 8rem;
    }
    .pr-menu-body {
        padding: 0rem 25rem;
    }

    .pr-reg-content {
        padding: 1rem 25rem;
    }
    .pr-reg-content {
        padding-top: 4rem;
        min-height: calc(100vh - 15.7rem);
    }

    .pr-agree-content {
        padding: 5rem 25rem;
    }

    .pr-infobox-container {
        padding: 2rem 8rem;
    }

    .pr-kit-content {
        padding: 3rem 25rem;
    }
    .pr-grey-card {
        margin-left: -2em;
        margin-right: -2em;
        padding: 2rem 2rem;
    }

    .pr-pay-content {
        padding: 2rem 25rem;
    }

    .pr-car-info-content {
        padding: 2rem 15rem;
    }
    .pr-car-info-additional-content {
        padding: 2rem 15rem;
        padding-top: 0rem;
    }
    .pr-car-info-grid-container {
        padding: 0rem 7rem;
    }

    .pr-damage-content {
        padding: 3rem 21rem;
    }

    .pr-table-container {
        padding: 2rem 8rem;
    }
}

/* media query more than 1200px */
@media (min-width: 1200px) {
    .pr-login-page-container {
        text-align: center;
    }
    .pr-login-xs-container {
        width: 540px;
        display: inline-block;
    }
    .pr-footer-content {
        padding: 1rem 9rem;
    }

    .pr-navigation-content {
        padding: 1rem 9rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 9rem;
    }

    .pr-menu-header {
        padding: 1rem 9rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 9rem;
    }
    .pr-menu-body {
        width: 20rem;
        margin-left: calc(50% - 35rem);
    }

    .pr-reg-content {
        width: 30rem;
        margin-left: calc(50% - 40rem);
    }

    .pr-reg-content {
        padding-top: 5rem;
        min-height: calc(100vh - 16.2rem);
    }

    .pr-agree-content {
        width: 30rem;
        margin-left: calc(50% - 40rem);
    }

    .pr-infobox-container {
        padding: 2rem 9rem;
    }

    .pr-kit-content {
        width: 30rem;
        margin-left: calc(50% - 41rem);
    }

    .pr-pay-content {
        width: 30rem;
        margin-left: calc(50% - 41rem);
    }

    .pr-car-info-content {
        width: 45rem;
        width: 45rem;
        margin-left: calc(50% - 37.7rem);
    }
    .pr-car-info-grid-container {
        width: 30rem;
        margin-left: calc(50% - 24rem);
    }
    .pr-search-result-buttons {
        width: 45rem;
        width: 45rem;
        margin-left: calc(50% - 22.5rem);
    }
    /* .pr-car-info-additional-content {
        width: 40rem;
        padding-top: 0rem;
    } */

    .pr-damage-content {
        width: 30rem;
        margin-left: calc(50% - 41rem);
    }

    .pr-table-container {
        width: 55rem;
        margin-left: calc(50% - 32rem);
    }
}

/* checkbox */
.pr-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.pr-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}
  
.pr-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.pr-container input:checked ~ .checkmark {
    background-color: #ff6464;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.pr-container input:checked ~ .checkmark:after {
    display: block;
}
  
.pr-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* loader */
.pr-app-loader {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #01024E;
    z-index: 10000;
    transition: 0.5s all;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

.pr-loader-content {
    text-align: center;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 50px);
    height: 30%;
    width: 100px;
}

.pr-loader-content img {
    width: 100%;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* uplaod image */
#drop-area {
    border: 2px dashed #ccc;
    padding: 2rem 2rem 2.7rem 2rem;
    text-align: center;
}
#drop-area.highlight {
    border-color: purple;
}
.pr-image-uploader {
    margin-bottom: 10px;
}
.upload-image-button {
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: white;
    background-color: #7a5586;
    cursor: pointer;
}
#fileElem {
    display: none;
}
.upload-image-icon {
    color: #ccc;
    font-size: 2.5rem;
}
.upload-image-txt {
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
    font-size: 0.9rem;
}

/* scrollBar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #01024E; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #01024E; 
}

/* override */
.v-application a {
    color: none !important;
}

*, ::before, ::after {
    box-sizing: content-box !important;
}

.checkmark-up-over {
    top: -6px;
}

.row, 
.col-xs, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    box-sizing: border-box !important;
}
.pr-app-container {
    min-height: calc(100vh - 187px);
}

button:disabled {
    background-color: #ff646485;
    cursor: no-drop;
}
