body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.pr-app-container {
    overflow: hidden;
}

.header-3 {
    font-size: 1.5rem;
    margin: 0;
    color: #ff6464;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.header-2 {
    font-size: 1.6rem;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.header-4 {
    font-size: 1.1rem;
    margin: 0;
    color: #01024E;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.header-5 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: #ff6464;
    margin: 0.3rem 0rem;
}

.header-6 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0.3rem 0rem;
}

.pr-mega-button {
    width: 100%;
    font-size: 0.9rem;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.2rem;
    color: white;
    background-color: gray;
    cursor: pointer;
}

.pr-facebook-bg {
    background-color: #41598f;
}

.pr-google-bg {
    background-color: #d75c48;
}

.pr-pink-bg {
    background-color: #ff6464;
}

.pr-violet-bg {
    background-color: #7a5586;
}

.pr-header-text {
    margin: 0px;
    color: white;
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1.4;
}

.pr-faq-text {
    font-weight: bold;
    font-size: 0.8rem;
    color: #01024E;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3px;
}

.faq-link {
    color: #ff6464;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.pr-dark-card {
    padding: 0.8rem 1rem;
    background: #00000042;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3;
}

.pr-dark-card p {
    margin: 0;
}

.pr-warning {
    padding: 2rem 2rem;
    font-size: 0.8rem;
    background-color: #7a5586;
}

.pr-warning p {
    text-align: center;
    color: white;
    margin: 0px;
}

.pr-bg-input {
    width: calc(100% - 2.4rem);
    padding: 1.2rem;
    border: none;
    background-color: #eee;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.pr-bg-input::-webkit-input-placeholder { /* Edge */
    color: grey;
    font-weight: 300;
    font-size: 1rem;
}

.pr-bg-input:-ms-input-placeholder { /* Internet Explorer */
    color: grey;
    font-weight: 300;
    font-size: 1rem;
}

.pr-bg-input::placeholder {
    color: grey;
    font-weight: 300;
    font-size: 1rem;
}

.pr-bg-input:focus {
    border: 2px solid #01024E;
    columns: #010101;
}

/* footer */
.pr-footer {
    display: none;
}

/* naviagation */
.pr-nav-logo {
    height: 3rem;
}

.pr-nav-menu-butt {
    position: absolute;
    right: 1.1rem;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
}

.pr-navigation-content {
    padding: 0.7rem 1rem;
    background: #01024E;
    text-align: center;
}

.pr-nav-menu-close-butt {

}

/* menu */
.pr-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #01024E;
    transition: 0.5s all;
    display: none;
}

.pr-menu-header {
    padding: 0.7rem 1rem;
    text-align: center;
}

.pr-menu-logo {
    height: 3rem;
}

.pr-nav-menu-close-butt {
    position: absolute;
    right: 1.1rem;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
}

.pr-menu-body {
    padding: 0rem 3rem;
}

.pr-menu-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1.4rem;
    font-size: 1.4rem;
    border-bottom: 2px solid #ff7474;
}

/* login page */
.pr-login-page-container {
    background: grey;
    min-height: calc(100vh - 6rem);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(./images/loginbackground.png) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pr-login-logo-container {
    text-align: center;
}

.pr-login-logo {
    height: 5rem;
}

/* reg page */
.pr-reg-content {
    padding: 2rem;
    min-height: calc(100vh - 13.7rem);
}

/* agree page */
.pr-agree-content {
    background: #7a5586;
    padding: 1rem;
    min-height: calc(100vh - 6.64rem);
    color: white;
    text-align: center;
    letter-spacing: 0.05rem;
    line-height: 1.2;
    font-size: 0.9rem;
}

.pr-agree-container {
    background: #7a5586;
}

/* media query more than 425px */
@media (min-width: 425px) {
    .pr-login-page-container {
        padding-left: 5rem;
        padding-right: 5rem;
        /*added for attached footer*/
        min-height: calc(100vh - 12.5rem);
    }
    .pr-login-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pr-footer {
        display: block;
        background: #01024E;
    }
    .pr-footer-content {
        padding: 1rem 5rem;
    }
    .footer-header {
        margin-top: 0px;
        color: white;
        font-weight: 300;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        margin-bottom: 1rem;
    }
    .footer-header span {
        color: #ff6464;
    }
    .pr-footer-text {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 0.7rem;
        color: #808080d9;
        font-weight: bold;
    }

    .pr-navigation-content {
        padding: 1rem 5rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 5rem;
    }

    .pr-menu-header {
        padding: 1rem 5rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 5rem;
    }
    .pr-menu-body {
        padding: 0rem 6.5rem;
    }

    .pr-reg-content {
        padding: 1rem 5rem;
        min-height: calc(100vh - 14.3rem);
    }

    .pr-agree-content {
        padding: 1rem 5rem;
        min-height: calc(100vh - 13.7rem);
    }
    
}

/* media query more than 768px */
@media (min-width: 768px) {
    .pr-login-page-container {
        padding-left: 11rem;
        padding-right: 11rem;
    }
    .pr-login-content {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .pr-footer-content {
        padding: 1rem 6rem;
    }

    .pr-navigation-content {
        padding: 1rem 6rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 6rem;
    }

    .pr-menu-header {
        padding: 1rem 6rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 6rem;
    }
    .pr-menu-body {
        padding: 0rem 15rem;
    }

    .pr-reg-content {
        padding: 1rem 15rem;
        min-height: calc(100vh - 14.7rem);
    }

    .pr-agree-content {
        padding: 1rem 15rem;
    }
}

/* media query more than 768px */
@media (min-width: 900px) {
    .pr-login-page-container {
        padding-left: 15rem;
        padding-right: 15rem;
    }
    .pr-login-content {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .pr-footer-content {
        padding: 1rem 7rem;
    }

    .pr-navigation-content {
        padding: 1rem 7rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 7rem;
    }

    .pr-menu-header {
        padding: 1rem 7rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 7rem;
    }
    .pr-menu-body {
        padding: 0rem 20rem;
    }

    .pr-reg-content {
        padding: 1rem 20rem;
    }
    .pr-reg-content {
        padding-top: 3rem;
        min-height: calc(100vh - 15.2rem);
    }

    .pr-agree-content {
        padding: 1rem 20rem;
    }
}

/* media query more than 1024px */
@media (min-width: 1024px) {
    .pr-login-page-container {
        padding-left: 19rem;
        padding-right: 19rem;
    }
    .pr-login-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .pr-footer-content {
        padding: 1rem 8rem;
    }

    .pr-navigation-content {
        padding: 1rem 8rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 8rem;
    }

    .pr-menu-header {
        padding: 1rem 8rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 8rem;
    }
    .pr-menu-body {
        padding: 0rem 25rem;
    }

    .pr-reg-content {
        padding: 1rem 25rem;
    }
    .pr-reg-content {
        padding-top: 4rem;
        min-height: calc(100vh - 15.7rem);
    }

    .pr-agree-content {
        padding: 1rem 25rem;
    }
}

/* media query more than 1200px */
@media (min-width: 1200px) {
    .pr-login-page-container {
        text-align: center;
    }
    .pr-login-xs-container {
        width: 540px;
        display: inline-block;
    }
    .pr-footer-content {
        padding: 1rem 9rem;
    }

    .pr-navigation-content {
        padding: 1rem 9rem;
        text-align: left;
    }
    .pr-nav-menu-butt {
        right: 9rem;
    }

    .pr-menu-header {
        padding: 1rem 9rem;
        text-align: left;
    }
    .pr-nav-menu-close-butt {
        right: 9rem;
    }
    .pr-menu-body {
        width: 20rem;
        margin-left: calc(50% - 35rem);
    }

    .pr-reg-content {
        width: 30rem;
        margin-left: calc(50% - 40rem);
    }

    .pr-reg-content {
        padding-top: 5rem;
        min-height: calc(100vh - 16.2rem);
    }

    .pr-agree-content {
        width: 30rem;
        margin-left: calc(50% - 40rem);
    }
}

/* checkbox */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #ff6464;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
